
.extension-warning {
  z-index: 30;
  background: lightgray;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.pos-rel {
  position: relative;
}

.lock {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('https://cdn-images-1.medium.com/max/800/1*X09_RkDbOIhwQHQd4it-Ew.png');
  height: 15px;
  width: 15px;
  background-size: 205%;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 100;
}

.locked {
  background-position: right;
}

.unlocked {
  background-position: left;
}

.locked:hover {
  background-position: left;
  transition: none;
  cursor: pointer;
}

.unlocked:hover {
  background-position: right;
  transition: none;
  cursor: pointer;
}

.options {
  border-radius: 10px;
  background: darkgray;
}

button {
  outline:0;
}

.options:hover {
  background: gray;
  cursor: pointer;
}
