.grayed-out {
  background: gray;
}

.trigger {
  /*display: none;*/
  /*color: transparent;*/
  background: purple;
  color: white;
  text-align: center;
}
/*
.trigger:after {
  content: 'warning';
  color: white;
}*/
